@font-face {
  font-family: 'CenturyGothic-Italic';
  src: url("CenturyGothic-Italic.eot");
  src: url("CenturyGothic-Italic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-Italic.ttf") format("truetype"), url("CenturyGothic-Italic.woff") format("woff"), url("CenturyGothic-Italic.svg#CenturyGothic-Italic") format("svg");
  font-style: italic;
  font-weight: normal;
}
