  body {
  margin: 0;
  padding: 0;
}
section {
  margin-bottom: 48px;
  float: left;
  width: 100%;
}
/*Main Menu*/
.menu-area {
  padding: 0;
}
.logo {
  top: 0px;
}
.logo img {
  height: 100px;
}
/*Social links Block*/
#block-block-1 {
  border-left: 1px solid #393939;
  float: right;
}
.top-social ul {
  padding-left: 15px;
}
/*Login Block*/
#block-drop-down-login-drop-down-login {
  float: right;
  border-left: 1px solid #393939;
}
#drop-down-login-wrapper a {
  font-family: 'CenturyGothic-Bold';
  color: #bebebe;
}
#drop-down-login-wrapper.enable-dd .button span span  i {
  margin-left: 8px;
}
#drop-down-login-wrapper.enable-dd .button span span {
  background: none;
  padding: 0;
}
#drop-down-login-wrapper .button {
  padding: 15px 10px;
  color: #bebebe;
  background: none;
}
/*Main Menu Superfish*/
#block-superfish-1 {
  float: right;
}
#block-superfish-1 .sf-depth-2 .active{
  padding: 10px 0px;
}
.main-menu {
  margin-top: 0;
  border-right: 0;
}
.main-menu .sf-sub-indicator {
  display: none;
}
.main-menu ul {
  padding-top: 16px;
}
.main-menu ul li ul.menu-dropdown li a {
  color: #bebebe;
}
/*Language Dropdown*/
#block-lang-dropdown-language {
  float: right;
  padding-top: 12px;
}
.lang-dropdown-form img.language-icon {
  margin-top: 2px;
}
.form-item-lang-dropdown-select {
  float: right;
}
.language {
  background: #000 none repeat scroll 0 0;
  display: inline-block;
  float: right;
  height: 10px;
  margin-right: 5px;
  overflow: hidden;
  padding: 0 ;
  padding-bottom: 15px;
  text-align: left;
  transition: all 0.5s ease 0s;
}
/*Banner area*/
.banner-area {
  float: left;
  width: 50%;
}
.banner-area img {
  float: left;
  width: 100%;
  height: 340px;
}
#block-views-home-slider-view-block {
  float: left;
  width: 100%;
}
#block-block-6 {
  float: left;
  width: 100%;
}
#block-block-6 .btn-default {
  padding-top: 18px;
}
.carousel-caption {
  width: 80%;
  background: url(../images/vertical-line.png) no-repeat left top;
  text-align: left;
  right: 0;
  margin-left: 10%;
  padding: 0;
  padding-left: 22px;
}
/*News Area*/
.news-area {
  float: left;
  width: 50%;
  position: relative;
  top: 0px;
  right: 0px;
  z-index: none;
}
.latest-news {
  background: url(../images/line-seprator.png) no-repeat left bottom;
  float: left;
  width: 85%;
}
.latest-news .btn-default{
  float: left;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  bottom: -20px;
  right: 0;
}
.view-latest-news .owl-controls.clickable {
  width: 100%;
  height: 0px;
  float: left;
}
.view-latest-news .owl-theme .owl-controls .owl-buttons div {
  padding: 4px 10px;
}
.news-area .block__title{
  margin-bottom: 15px;
  font-size: 24px;
  font-family: CenturyGothic;
  font-weight: normal;
  text-transform: uppercase;
}
.news-area .owl-item .views-field-changed .field-content{
  float: left;
  color: #fff;
  font-size: 16px;
  font-family: Calibri;
  font-weight: bold;
  margin-left: 5px;
}
.news-area .owl-item .views-field-changed-1 .field-content{
  float: left;
  color: #52befc;
  font-size: 16px;
  font-family: Calibri;
  font-weight: 700;
  margin-left: 5px;
}
.news-area .views-field-field-news-detail{
  float: left;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  width: 150px;
}
.news-area .field-content{
  float: left;
}
.news-area .owl-next{
  position: relative;
  float: right;
  background: transparent;
  width: 3%;
  opacity: 1;
  border-radius: 100px;
  font-size: 30px;
  color: #fff;
  top: -100px;
}
.news-area .owl-prev{
  position: relative;
  float: left;
  background: transparent;
  width: 3%;
  opacity: 1;
  border-radius: 100px;
  font-size: 30px;
  color: #fff;
  top: -100px;
  right: 60px;
}
.fa-angle-left , .fa-angle-right{
  font-size: 30px;
  text-align: center;
}
.fa-angle-left:hover , .fa-angle-right:hover{
  color: #C63D41;
}
/*Video Section*/
#block-views-youtube-home-vedio-block {
  float: left;
  width: 100%;
}
#block-views-youtube-home-vedio-block .field-content {
  float: left;
  width: 100%;
  text-align: center;
}
#block-views-youtube-home-vedio-block .field-content {
  float: none;
  margin: 0 auto;
}
/*Upcoming Event*/
#block-views-cea8a95ddf9c6643ab310ee465277b95 {
  float: left;
  width: 100%;
  font-family: 'CenturyGothic';
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .countdownHolder {
  float: left;
  width: 100%!important;
  margin-left: 0px!important;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 22px;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .video-description {
  width: 95%;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .field-content {
  float: left;
  width: 100%;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 h2 {
  margin-top: 0px;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .countdownHolder > span {
  width: 20%;
  float: left;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .countdownHolder .countDiv {
  width: 5%;
  float: left;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .countdownHolder .countDiv:before {
  top: 16px;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .countdownHolder .countDiv:after {
  top: 0px;
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .position {
  display: inline-block!important;
  height: 1.6em!important;
  overflow: hidden!important;
  position: relative!important;
  /*width: 1.05em!important;*/
}
#block-views-cea8a95ddf9c6643ab310ee465277b95 .counter-text {
  float: left;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  width: 100%;
}
/*Board of Members CSS*/
.page-board-members .page-wrapper{
  background: url(../images/about-chairman-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
#board-members ul {
  margin-left: 90px;
}
#board-members h1 {
  margin-left: 150px;
  margin-bottom: 50px;
  font-size: 37px;
}
#board-members ul li{
  margin-bottom: 40px;
  font-weight:normal;
}
#board-members .views-field-field-name {
  color: #babaa7;
  font-size: 17px;
  margin-left: 20px;
}
#board-members .views-field-title {
  margin-left: 20px;
  color: #50befe;
  font-size: 17px;
  font-weight: bold;
}
#board-members {
  padding-top: 200px;
}
/*Footer CSS*/
.footer {
  background: #292929;
  float: left;
  width: 100%;
  padding-top: 8px;
  position: absolute;
  bottom: 0;
}
.footer .field-content{
  float: left;
}
.footer img{
  margin-right: 5px;
}
/*See all button*/
.btn-default {
  background: url(../images/btn-background.png) no-repeat center;
  width: 171px;
  height: 31px;
  text-align: center;
  font-size: 100%;
  font-family: Calibri;
  font-style: italic;
  color: #52befc;
  padding-top: 6px;
}
/*Chairman Speech Page*/
.page-node-81 .page-wrapper {
  background: url(../images/about-chairman-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
.page-node-81 .l-page .l-main #pagetitle h1{
  display: none;
}
.page-node-81 .node__content .field__items p {
  display: none;
}
/*Contact US*/
.page-node-126 .l-page .l-main #pagetitle h1{
  display: none;
}
.page-node-126 .node__content .field__items p {
  display: none;
}
/*Facilities*/
.page-node-131 .page-wrapper {
  background: url(../images/facilities-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
.page-node-131 #pagetitle h1{
  display: none;
}
/*About Adimsc*/
.page-node-136 .page-wrapper {
  background: url(../images/about-chairman-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
.page-node-136 #pagetitle h1{
  display: none;
}
/*All News Page CSS*/
.section-all-news .breadcrumb{
  display: none;
}
.section-all-news #pagetitle{
  width: 55%;
  padding-top: 200px;
  padding-left: 50px;
}
.section-all-news #widget_pager_bottom_all_news-page {
  background: transparent;
  border: none;
  position: absolute;
  float: left;
  width: 100%;
  height: 600px;
  padding: 0px;
}
.section-all-news #widget_pager_bottom_all_news-page .views_slideshow_jcarousel_pager_item{
  background: #222122;
  border: none;
  margin-bottom: 1px;
  width: 90%;
  padding: 7px 7px 7px 25px;
}
.section-all-news #widget_pager_bottom_all_news-page ul li.active{
  background: #5A5759;
}
.section-all-news .jcarousel-clip-vertical{
  float: left;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section-all-news .jcarousel-list-vertical{
  margin-right: 20px;
}
.section-all-news .views-content-title{

}
.section-all-news #widget_pager_bottom_all_news-page .views-field-created{
  color: #52befc;
  font-size: 14px;
  font-family: Calibri;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-created .views-content-created{
  float: left;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-created .view-label-created{
  float: left;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-title{
  color: #c7d0d9;
  font-weight: bold;
  font-family: "CenturyGothic-Bold";
  font-size: 13px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 10px;

  width: 50%;
}
.section-all-news .wrap-me{
  float: left;
  margin-top: 5%;
  width: 70%;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-field-news-image .views-content-field-news-image{
  width: 100%;
  position: relative;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-field-news-image{
  width: 100%;
  position: relative;

}
.section-all-news #widget_pager_bottom_all_news-page .views-field-field-news-image .views-content-field-news-image img{
  float: left;
  position: absolute;
  top: 1%;
  right: 1%;
}
.section-all-news #views_slideshow_cycle_main_all_news-page{
  width: 100%
}
.section-all-news #views_slideshow_cycle_main_all_news-page .views-field-field-news-image img{
  width: 90%;
}
.section-all-news #views_slideshow_cycle_teaser_section_all_news-page{
  float: left;
}
.section-all-news #views_slideshow_cycle_teaser_section_all_news-page{
  margin-left: 50px;
  width: 60%;
}
.section-all-news .skin-default{
  width: 100%;
}
.section-all-news .views-slideshow-cycle-main-frame-row .views-field-title{
  font-family: "CenturyGothic-Bold";
  font-size: 17px;
  color: #52befc;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 90%;
}
.section-all-news .views-slideshow-cycle-main-frame-row .views-field-field-news-detail{
  color: #bababa;
  font-size: 13.5px;
  font-family: Calibri;
  width: 90%;
}
.section-all-news .view-all-news {
  width: 100%;
}
.section-all-news .skin-default {
  width: 100%;
}
.section-all-news .views-slideshow-controls-bottom {
  width: 36%;
  float: left;
}
.section-all-news #edit-date-filter-value-inside-wrapper {
  width: 100%;
  margin: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 30px;
}
.section-all-news #edit-date-filter-value-inside-wrapper select {
  background: #0b6831;
  float: left;
  width: 145px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  border: 0;
  appearance: none;
  border-radius: 0;
  padding-left: 10px;
  margin-left: 10px;
}
.section-all-news #edit-date-filter-value-inside-wrapper select option::-webkit-scrollbar {
  width: 1em;
}

.section-all-news #edit-date-filter-value-inside-wrapper select option::-webkit-scrollbar-track {
  background: rgba(90,87,89,0.52);
}

.section-all-news #edit-date-filter-value-inside-wrapper select option::-webkit-scrollbar-thumb {
  background-color: #5a5759;
}
.section-all-news .views-exposed-form {
  width: 100%;
}
.section-all-news #edit-date-filter-value-inside-wrapper {
  width: 100%;
}
.section-all-news #edit-date-filter-wrapper {
  float: right;
}
.section-all-news .form-item-date-filter-value-month {
  margin-right: 20px;
}
/*ADIMIC CALENDAR*/
.adimsc-calander {
  float: left;
}

.adimsc-calander h1 {
  color: #fff;
  margin-bottom: 50px;
}

.adimsc-calander h1 span {
  font-family: 'CenturyGothic-Bold';
  color: #52befc;
}
.events-calander {
  float: left;
  max-width: 950px;
  height: 565px;
  margin-bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.event-month {
  float: left;
  position: relative;
  padding-left: 46px;
}
.event-month tr {
  float: left;
  border-left: 2px solid #d77627;
}
.event-month h3 {
  background: url(../images/bg-month.png) no-repeat center;
  position: absolute;
  left: 0;
  float: left;
  width: 46px;
  height: 31px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3px;
}
.event-month tr td {
  float: left;
  width: 100%;
}
.event-month tr td .event-location {
  background: url(../images/bg-date.gif) repeat;
  float: left;
  width: 554px;
  height: 57px;
  margin-right: 7px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  padding-top: 20px;
  padding-left: 20px;
}
.event-month tr td .event-date {
  background: url(../images/bg-date.gif) repeat;
  float: left;
  width: 303px;
  height: 57px;
  text-align: center;
  font-size: 21px;
  color: #fdbb5b;
  font-weight: 400;
  padding-top: 20px;
}
.event-month tr td .active .event-month {
  background: #000;
}
.event-month tr td .active .event-date {
  background: #000;
}

/*Events Calender*/
/*Race and Drivers*/
.racers-index .owl-prev {
  position: absolute;
  top: 45%;
  left: 0px;
}
.racers-index .owl-next {
  position: absolute;
  top: 45%;
  right: 0;
}
.racers-index .owl-theme .owl-controls .owl-buttons div {
  background: none;
  opacity: 1;
}
.racers-index .owl-theme .owl-controls .owl-buttons div .fa-angle-left,
.racers-index .owl-theme .owl-controls .owl-buttons div .fa-angle-right {
  font-size: 60px;
  text-align: center;
}
.racers-index .owl-theme .owl-controls .owl-buttons div .fa-angle-left:hover,
.racers-index .owl-theme .owl-controls .owl-buttons div .fa-angle-right:hover{
  color: #C63D41;
}
.racers-index img {
  transition: all .5s ease;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.racers-index img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
.racers-index .show-btn-default {
  background: url(../images/bg-racer-btn.png) no-repeat center;
  position: absolute;
  top: 130px;
  width: 231px;
  height: 31px;
  left: 0;
  right: 0;
  font:100%;
  margin: 0 auto;
  color: #ffcd94;
  text-align: center;
  padding-top: 5%;
}
.racers-index .show-btn-default:hover {
  background: url(../images/bg-racer-btn.png) no-repeat center;
  position: absolute;
  top: 130px;
  width: 231px;
  height: 31px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #C63D41;
}
/*Teams Calender*/
.teams-area ul li .team-location {
  float: left;
  background: url(../images/bg-logo1.gif) repeat-x;
  width: 22.4%;
  height: 129px;
  padding-top: 45px;
  padding-left: 10px;
}
.teams-area ul li {
  border: 1px solid #37373b;
  margin-bottom: 12px;
  float: left;
  width: 100%;
}
.teams-area ul li .team-logo {
  background: url(../images/bg-logo1.gif) repeat-x;
  float: left;
  width: 17.6%;
  height: 129px;
  padding-top: 0px;
  text-align: center;
}
.teams-area ul li .team-logo img {
  display: inline-block;
  padding-top: 20px;
}
.teams-area ul li .team-location {
  float: left;
  background: url(../images/bg-logo1.gif) repeat-x;
  width: 23%;
  height: 129px;
  padding-top: 0px;
  padding-left: 0px;
}
.teams-area ul li .team-location .team-flag {
  float: left;
  width: 62px;
  margin-right: 11px;
  padding-top: 8%;
  padding-left: 5%;
}

.teams-area ul li .team-location .location-title {
  float: left;
  padding-left: 5%;
}

.teams-area ul li .team-location .location-title h4 {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
}

.teams-area ul li .team-location .location-title span {
  font-family: Calibri;
  font-weight: 700;
  color: #52befc;
}
/*Race Type Vedio Galler*/
.race-detail-area .jcarousel-skin-ie7 .jcarousel-container {
    background: transparent;
    border: none;
    width: 800px;
    height:200px;
    margin-left: -45px;
}
.race-detail-area .jcarousel-skin-ie7 ul {
  height: 200px !important;
}
.race-detail-area .jcarousel-skin-ie7 ul .views-content-field-add-vedio-yoitube-link {
  float: left !important;
  width: 45% !important;
  margin-right: 10px;
}
.race-detail-area .jcarousel-skin-ie7 ul li .views-content-field-add-vedio-yoitube-link img {
 width: 126px !important;
 height: 74px !important;
 border: 2px solid #DDDDDD;
}
.race-detail-area .jcarousel-skin-ie7 ul .views-field-title {
  color:#BBB8B8;
  font-size: 28px;
  margin-left: 31px
}
.race-detail-area .jcarousel-skin-ie7 ul .views-content-field-vedio-description {
  color:#BBB8B8;
  margin-top:34px;
  float:left;
  margin-left: -18px;
}
.race-detail-area .jcarousel-skin-ie7 ul li {
  width: 20% !important;
  height: 100px !important;
  background: #333 !important;
  padding: 8px !important;
  min-height: 74px !important;
  margin-right: 12px !important;
  border: 1px solid #000 !important;
}
.race-detail-area .jcarousel-skin-ie7 .jcarousel-clip-horizontal {
  width: 100% !important;
  overflow: hidden;
  height: 100px !important;

}
.race-detail-area .jcarousel-skin-ie7 .jcarousel-clip-horizontal .views-field-title {
  float: left !important;
}
/*Webform CSS*/
.page-node-196 .node__submitted {
  display: none;
}
.page-node-196 #pagetitle {
  padding-top: 10%;
  padding-left: 10%;
}
.page-node-196 .webform-client-form-192 {
  float: left;
  padding-top: 5%;
  padding-left: 10%;
  width: 80%;
}
.page-node-196  input:not([type]), input[type="text"], input[type="email"] {
  background: #494347;
  opacity: 0.7;
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 1% 0% 2% 3%;
}
.page-node-196 ::-webkit-input-placeholder {
  color: #fff;
}
.page-node-196 .full-group{
  width: 100%;
  float: left;
}
.page-node-196 .left-group{
  width: 30%;
  float: left;
}
.page-node-196 .right-group{
  width: 70%;
  float: left;
}
.page-node-196 .right-group-1st{
  width: 60%;
  float: left;
  border: solid 1px #565656;
  padding: 5px;
  margin-right: 5px;
}
.page-node-196 .right-group-1st label[for="edit-submitted-race-category"] ,
.page-node-196 .right-group-2nd label[for="edit-submitted-mainufacturer"] {
  margin-bottom: 20px;
  color: #6b9ff6;
}
.page-node-196  .form-required{
  display: none;
}
.page-node-196 .right-group-2nd{
  width: 30%;
  float: left;
  border: solid 1px #565656;
  padding: 5px;
}
.page-node-196 .office{
  float: left;
  width: 60%;
  border: solid 1px #565656;
}
.page-node-196 .of-use-ch{
  color: #6b9ff6;
}
.page-node-196 .off-use-tittle{
  color: #6b9ff6;
  font-size: 20px;
  font-weight: bold;
}
.page-node-196 .right-group-1st .form-checkboxes .form-item{
  float: left;
  width: 50%;
}
/*.page-node-196 .race-cat{
  float: left;
  width: 20%
}
.page-node-196 .manufac{
  float: left;
  width: 20%;
}*/
/*.page-node-196 .left-field-groups{
  float: left;
  background: red;
  margin-right: 10%;
}*/
/* Media Queries */
@media (max-width: 1400px) {

}
@media (min-width: 1040px) and (max-width: 1250px) {

}
@media (min-width: 769px) and (max-width: 1040px) {

}
@media (max-width: 769px) {

}
@media (max-width: 480px) {

}
