body {
  margin: 0;
  padding: 0;
}
.menu-area {
  padding: 0;
}
/*Social links Block*/
#block-block-1 {
  border-left: 1px solid #393939;
  float: right;
}
.top-social ul {
  padding-left: 15px;
}
/*Login Block*/
#block-drop-down-login-drop-down-login {
  float: right;
  border-left: 1px solid #393939;
}
#drop-down-login-wrapper a {
  font-family: 'CenturyGothic-Bold';
  color: #bebebe;
}
#drop-down-login-wrapper.enable-dd .button span span  i {
  margin-left: 8px;
}
#drop-down-login-wrapper.enable-dd .button span span {
  background: none;
  padding: 0;
}
#drop-down-login-wrapper .button {
  padding: 15px 10px;
  color: #bebebe;
  background: none;
}
/*Main Menu Superfish*/
#block-superfish-1 {
  float: right;
}
.main-menu {
  margin-top: 0;
  border-right: 0;
}
.main-menu .sf-sub-indicator {
  display: none;
}
.main-menu ul {
  padding-top: 16px;
}
.main-menu ul li ul.menu-dropdown li a {
  color: #bebebe;
}
/*Language Dropdown*/
#block-lang-dropdown-language {
  float: right;
  padding-top: 12px;
}
.lang-dropdown-form img.language-icon {
  margin-top: 2px;
}
.form-item-lang-dropdown-select {
  float: right;
}
.language {
  background: #000 none repeat scroll 0 0;
  display: inline-block;
  float: right;
  height: 10px;
  margin-right: 5px;
  overflow: hidden;
  padding: 0 ;
  padding-bottom: 15px;
  text-align: left;
  transition: all 0.5s ease 0s;
}
.carousel-caption {
  width: 68%;
  background: url(../images/vertical-line.png) no-repeat left top;
  max-width: 609px;
  text-align: left;
  right: 0;
  margin-top: -143px;
  margin-bottom: 151px;
  margin-left: 8%;
  padding: 0;
  padding-left: 22px;
}
/*Video img*/
.video-player {
  width: 100%;
}
.video-description {
  background: rgba(0,0,0,0.52);
  float: left;
  width: 100%;
  padding: 15px;
  margin-top: -0.5%;
}

.video-title-area {
  float: left;
  width: 39%;
}
.video-flag {
  float: left;
  width: 43px;

}
.video-title {
  float: left;
  width: 74%;
  padding: 0%;
}
.video-title h2 {
  font-family: Calibri;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: auto;
}
.video-title .date span{
  font-size: 12px;
  margin-left: -10px;
}
.video-timer {
  float: left;
  text-transform: uppercase;
}
.time-block{
  width: 110%;
  margin-top: -11%;
}
.time-block span {
  position: relative;
  font-family: 'CenturyGothic';
  float: left;
  font-size: 10px;
  margin-left: 00px;
  margin-right: 0px;
  margin-top: -1%;
  padding-bottom: 2%;
  padding-left: 34px;
}
.news-area .block__title{
  margin-bottom: 15px;
  font-size: 24px;
  font-family: CenturyGothic;
}
.news-area .owl-item .views-field-changed .field-content{
  float: left;
  color: #fff;
  font-size: 16px;
  font-family: Calibri;
  font-weight: 700;
  margin-left: 5px;
}
.news-area .owl-item .views-field-changed-1 .field-content{
  float: left;
  color: #52befc;
  font-size: 16px;
  font-family: Calibri;
  font-weight: 700;
  margin-left: 5px;
}
.news-area .views-field-field-news-detail{
  float: left;
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
  width: 150px;
}
.news-area{
  padding-left: 60px;
}
.news-area .field-content{
  float: left;
}
.news-area .owl-next{
  position: relative;
  float: right;
  background: rgba(255,255,255,0.20);
  width: 20px;
  height: 35px;
  opacity: 1;
  border-radius: 100px;
  font-size: 30px;
  color: #fff;
  top: -100px;
}
.news-area .owl-prev{
  position: relative;
  float: left;
  background: rgba(255,255,255,0.20);
  width: 20px;
  height: 35px;
  opacity: 1;
  border-radius: 100px;
  font-size: 30px;
  color: #fff;
  top: -100px;
  right: 60px;
}
.fa-angle-left , .fa-angle-right{
  font-size: 30px;
  text-align: center;
}
/*Board of Members CSS*/
.page-board-members #board-members{
  background: url(../images/about-chairman-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
#board-members ul {
  margin-left: 90px;
}
#board-members h1 {
  margin-left: 150px;
  margin-bottom: 50px;
  font-size: 37px;
}
#board-members ul li{
  margin-bottom: 40px;
  font-weight:normal;
}
#board-members .views-field-field-name {
  color: #babaa7;
  font-size: 17px;
  margin-left: 20px;
}
#board-members .views-field-title {
  margin-left: 20px;
  color: #50befe;
  font-size: 17px;
  font-weight: bold;
}
#board-members{
  padding-top: 200px;
}
.views-row{

}
/*Footer CSS*/
.footer{
  position: absolute;
  bottom: 0;
  background: #292929;
  float: left;
  width: 100%;
  height: 26px;
  padding-top: 5px;
  overflow: hidden;
}
.footer .views-field-title{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.footer .field-content{
  float: left;
}
.footer .views-field-field-event-date .field-content{
  padding-left: 3px;
}
.footer img{
  margin-right: 5px;
  margin-left: 15px;
}
.btn-default {
  background: url(../images/btn-background.png) no-repeat center;
  width: 171px;
  height: 31px;
  text-align: center;
  font-size: 100%;
  font-family: Calibri;
  font-style: italic;
  color: #52befc;
  padding-top: 6px;
}
.page-node-81 .l-page {
  background: url(../images/about-chairman-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
.page-node-81 .l-page .l-main #pagetitle h1{
  display: none;
}
.page-node-81 .node__content .field__items p {
  display: none;
}
.page-node-126 .l-page .l-main #pagetitle h1{
  display: none;
}
.page-node-126 .node__content .field__items p {
  display: none;
}
.page-node-131 .l-page {
  background: url(../images/facilities-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
.page-node-131 #pagetitle h1{
  display: none;
}
.page-node-136 .l-page {
  background: url(../images/about-chairman-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 908px;
}
.page-node-136 #pagetitle h1{
  display: none;
}
/*All New Page CSS*/
.section-all-news .breadcrumb{
  display: none;
}
.section-all-news #pagetitle{
  width: 55%;
  padding-top: 200px;
  padding-left: 50px;
}
.section-all-news #widget_pager_bottom_all_news-page {
  background: transparent;
  border: none;
  position: absolute;
  float: left;
  width: 100%;
  height: 600px;
  padding: 0px;
}
.section-all-news #widget_pager_bottom_all_news-page .views_slideshow_jcarousel_pager_item{
  background: #222122;
  border: none;
  margin-bottom: 1px;
  width: 90%;
  padding: 7px 7px 7px 50px;
}
.section-all-news #widget_pager_bottom_all_news-page ul li.active{
  background: #5A5759;
}
.section-all-news .jcarousel-clip-vertical{
  float: left;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section-all-news .jcarousel-list-vertical{
   margin-right: 20px;

  }
.section-all-news #widget_pager_bottom_all_news-page .views-field-created{
  color: #52befc;
  font-size: 14px;
  font-family: Calibri;
  margin-top: 20px;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-created .views-content-created{
  float: left;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-created .view-label-created{
  float: left;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-title{
  color: #c7d0d9;
  font-weight: bold;
  font-family: "CenturyGothic-Bold";
  font-size: 13px;
  line-height: 1.1;
  margin-bottom: 12px;
  margin-top: 10px;
  width: 50%;
}
.section-all-news .wrap-me{
  float: left;
  width: 70%;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-field-news-image .views-content-field-news-image{
  width: 100%;
  position: relative;
}
.section-all-news #widget_pager_bottom_all_news-page .views-field-field-news-image{
  width: 100%;
  position: relative;

}
.section-all-news #widget_pager_bottom_all_news-page .views-field-field-news-image .views-content-field-news-image img{
  float: left;
  position: absolute;
  top: 1%;
  right: 1%;
}
.section-all-news #views_slideshow_cycle_main_all_news-page{
  width: 100%
}
.section-all-news #views_slideshow_cycle_main_all_news-page .views-field-field-news-image img{
  width: 90%;
}
.section-all-news #views_slideshow_cycle_teaser_section_all_news-page{
  float: left;
}
.section-all-news #views_slideshow_cycle_teaser_section_all_news-page{
  margin-left: 50px;
  width: 60%;
}
.section-all-news .skin-default{
  width: 100%;
}
.section-all-news .views-slideshow-cycle-main-frame-row .views-field-title{
  font-family: "CenturyGothic-Bold";
  font-size: 17px;
  color: #52befc;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 90%;
}
.section-all-news .views-slideshow-cycle-main-frame-row .views-field-field-news-detail{
  color: #bababa;
  font-size: 13.5px;
  font-family: Calibri;
  width: 90%;
}
.section-all-news .view-all-news{
  width: 100%;
}
.section-all-news .skin-default {
    width: 100%;
}
.section-all-news .views-slideshow-controls-bottom{
  width: 36%;
  float: left;
}
/*
==========================================================
ADIMIC CALENDAR
==========================================================
*/
.adimsc-calander {
  float: left;
}

.adimsc-calander h1 {
  color: #fff;
  margin-bottom: 50px;
}

.adimsc-calander h1 span {
  font-family: 'CenturyGothic-Bold';
  color: #52befc;
}

.events-calander {
  float: left;
  max-width: 950px;
  height: 565px;
  margin-bottom: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.event-month {
  float: left;
  position: relative;
  padding-left: 46px;
}

.event-month tr {
  float: left;
  border-left: 2px solid #d77627;
}

.event-month h3 {
  background: url(../images/bg-month.png) no-repeat center;
  position: absolute;
  left: 0;
  float: left;
  width: 46px;
  height: 31px;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3px;
}

.event-month tr td {
  float: left;
  width: 100%;
}

.event-month tr td .event-location {
  background: url(../images/bg-date.gif) repeat;
  float: left;
  width: 554px;
  height: 57px;
  margin-right: 7px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  padding-top: 20px;
  padding-left: 20px;
}

.event-month tr td .event-date {
  background: url(../images/bg-date.gif) repeat;
  float: left;
  width: 303px;
  height: 57px;
  text-align: center;
  font-size: 21px;
  color: #fdbb5b;
  font-weight: 400;
  padding-top: 20px;
}

.event-month tr td .active .event-month {
  background: #000;
}

.event-month tr td .active .event-date {
  background: #000;
}

/* Media Queries */
@media (max-width: 1400px) {

}
@media (min-width: 1040px) and (max-width: 1250px) {

}
@media (min-width: 769px) and (max-width: 1040px) {

}
@media (max-width: 769px) {

}
@media (max-width: 480px) {

}
